<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
	<add name="TradeEntities" connectionString="metadata=res://*/DB.TradeModel1.csdl|res://*/DB.TradeModel1.ssdl|res://*/DB.TradeModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIE2\SQLEXPRESS;initial catalog=Trade;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>